
body {
    background-color: aliceblue;
    
    
}

h1 {
    color: rgb(209, 15, 15);
    font-weight: 700;
    size: 40px;
    line-height: 100%;
}

h2 {
    background-color: rgba(228, 171, 171, 0.884);
    padding: 24px;
    gap :10px;
    width: fill;
    border-radius: 3px;
}

#Header {
    background-image: url("../public/img/bg3.jpeg");
    background-color: bisque;
}